<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(defer src="js/index.ts")
    link(rel="stylesheet", href="css/index.scss")
    title scroll test
  body
    #huge hello
